/PruebaGit/nbproject/private/
/Tarea/Tarea. Ejercicio Redes sociales/nbproject/private/
/Tarea/EjercicioRedesSociales/nbproject/private/
/Tarea/EjercicioRedesSociales/build/
/Tarea/EjercicioRedesSociales/dist/
/Tarea/TareaClaseArreglo/nbproject/private/
/Tarea/TareaClaseArreglo/build/
